{{#if listOfProjects}}
	{{#jsonData}}
		{{#each projectslist}}
			<div class="block" id="project-{{id}}">
				<h2>Project {{id}}</h2>
				<form id="projectForm-{{id}}">
					<input type="text" class="title"  name="title" value="{{title}}">
					<textarea type="text" class="text"  name="text">{{text}}</textarea> 
					<div class="imageThumb"><img src="/uploads/thumbs/{{picurl}}" alt="project Image" /></div>
					<!-- <button type="submit" class="post">Post</button>
					<button type="submit" class="delete">Delete</button> -->
					<input type='file' name='image'/>
					<input type="hidden" value="{{id}}" name="id"/>
					<button type='submit' name="update">Update</button>
					<button type='submit' name="delete">Delete</button>
				</form> 
			</div>
		{{/each}}
	{{/jsonData}}
{{else}}
	<div class="block" id="project-{{id}}">
		<h2>Project {{id}}</h2>
		<form id="projectForm-{{id}}">
			<input type="text" class="title" placeholder="Title" name="title" value="">
			<textarea type="text" class="text" placeholder="Content text" name="text"></textarea> 
			<!-- <div class="imageThumb"><img src="" alt="project Image" class="hidden" /></div> -->
			<!-- <button type="submit" class="post">Post</button>
			<button type="submit" class="delete">Delete</button> -->
			<input type='file' name='image'/>
			<input type="hidden" value="{{id}}" name="id"/>
			<button type='submit' name="post">Post</button>
			<button type='submit' name="delete" class="deleteSingle">Delete</button>
		</form>
	</div>
{{/if}}










